<!-- <div>
  <table class="table">
    <thead class="thead-dark">
      <th></th>
      <th>Name</th>
      <th>Price</th>
      <th>Units in Stock</th>
    </thead>

    <tbody>
      <tr *ngFor="let tempProduct of products">
        <td class="align-middle">
          <img src="{{ tempProduct.imageUrl }}" height="10">
        </td>
        <td class="align-middle">{{ tempProduct.name }}</td>
        <td class="align-middle">{{ tempProduct.unitPrice | currency:'USD' }}</td>
        <td class="align-middle">{{ tempProduct.unitsInStock }}</td>
      </tr>
    </tbody>
  </table>
</div> -->


<!-- <div class="main-content">
  <div class="section-content section-content-p30">
    <section class="text-center">
      <div class="container">
        <h1>{{currentCategoryName}}</h1>
      </div>
    </section>
    <hr>
    <div class="container-fludi">
      <div class="row">
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <img src="{{ tempProduct.imageUrl }}" class="img-responsive">
            <h1> {{ tempProduct.name }}</h1>
            <div class="price"> {{ tempProduct.unitPrice | currency:'USD' }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->




<div class="main-content">
  <div class="section-content section-content-p30">
    <div>
      <h1 class="text-center">{{currentCategoryName}}</h1>
    </div>
    
    <hr>

    <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12 text-center" role="alert">
      No Products found.
    </div>

    <div class="row">
      <div *ngFor="let item of products" class="col-md-3">
        <!-- 种类是card，margin button:4 -->
        <div class="card mb-4">
          <!-- 卡片照片放上面，居中 -->
          <div class="myCard text-center img-thumbnail">
            <!-- 照片-->
            <img style="height: 100%; width: 100%; display: block;" src="{{item.imageUrl}}"
              alt="assets/images/products/placeholder.png">
          </div>

          <div class="card-body p-0 text-center">
            <h6 class="card-title text-center">
              {{item.name}}
            </h6>
            <div class="price text-center"> {{ item.unitPrice | currency:'USD' }}</div>
          </div>

          <div class="card-footer text-center">
            <a href="#" class="primary-btn text-center">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>